:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/

body {
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

header .container nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header .container nav a:hover {
  color: #fff;
}

/*filme principal*/

main .filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url(/assets/img/lotr.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .filme-principal .container .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

main .filme-principal .container .titulo {
  margin-top: 15%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

main .filme-principal .container .botoes .botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .5s ease all;
}

main .filme-principal .container .botoes .botao i{
  margin-right: 7px;
}
main .filme-principal .container .botoes .botao:hover {
  background-color: white;
  color: black;
}